body{
	width: 100%;
	background-color: #C4FFD1;
	margin: 0px;
	padding: 0px;	
}
a{
	color: #3C804B;
	text-decoration: none;
}
.header{
	width: calc(100%-20px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	background-color: #78FF95;
	color: #3C804B;
	font-family: comfortaa-regular;
	border-bottom: solid 2px #60CC77;
}
.header__section{
	display: flex;
	align-items: center;
}
.header__item{
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 5px;
}
.header__item:hover{
	background-color: #60CC77;
	border-radius: 10px;
	-webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
.headerlogo{
	font-weight: bold;
}
.headerButton{
	cursor: pointer;
}
.title{
	text-align: center;
	font-family: comfortaa-regular;
	size: 35px;
	color: #60CC77; 
}
.default__container{
	padding: 7px;
	background-color: #78FF95;
	border: 2px solid #60CC77;
	border-radius: 15px;
	width: 46%;
}
.default__container__lifehacks{
	padding: 7px;
	background-color: #78FF95;
	border: 2px solid #60CC77;
	border-radius: 15px;
	width: 31%;
}
.parent__container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 7px;
	justify-content: space-around;
}
.default__text__h2{
	text-align: left;
	color: #3C804B;
	font-family: comfortaa-regular;
	font-size:24px;
}
.default__text__h3{
	text-align: left;
	color: #3C804B;
	font-family: comfortaa-regular;
	font-size:18px;
}
html{
	overflow-x: hidden; 
}
.flexbox__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
footer {
    left: 0; bottom: 0; 
    padding: 10px; 
    background: #78FF95; 
    color: #fff;
    width: calc(100%-2px); 
    border-top: 2px solid #60CC77;
    height: 55px;
   }
   .footer__text{
   	color: #3C804B;
	font-family: comfortaa-regular;
	text-align: center;
   }
   ::-webkit-scrollbar{
  background: #60CC77;
  width: 15px;
}
::-webkit-scrollbar-track{
  border-radius: 15px;
}
::-webkit-scrollbar-thumb{
  background: #78FF95;
  border-radius: 0px;
  border: 2px solid #60CC77;
  border-radius: 15px;
}
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #78FF95;
	border-radius: 15px;
	border: solid 2px #60CC77;
}

.close{
	color: #60CC77;
	float: right;
	font-size: 28px;
	
}
@media (max-height: 823px) {
.header{

}
.header__item.headerlogo{
	font-size: 17px;
}
.default__container{ 
 width: 97%;
}
.default__container__lifehacks{
 width: 97%;
}
body{
	width: 100%;
}
.default__text__h2{
	text-align: left;
	color: #3C804B;
	font-family: comfortaa-regular;
	font-size: 20px;

}
.default__text__h3{
	text-align: left;
	color: #3C804B;
	font-family: comfortaa-regular;
	font-size: 15px;
}
html{
	overflow-x: hidden;}
	a{
	color: #3C804B;
	text-decoration: none;
	font-size: 17px;
}
.headerButton{
	font-size: 17px;
}
h1{
	font-size: 23px;
}
div{
	font-size: 15px;
}
.parent__container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0px;
	justify-content: space-around;
}
footer{
	padding: 0px;
	width: calc(100%-2px) 
}
}
